@import '../../../styles/theme.css';

.header {
	height: var(--header-height);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
}

.header-brand {
	text-decoration: none;
	color: var(--coral-red);
	border: 2px solid var(--coral-red);
	box-sizing: content-box;
	display: inline-block;
	height: var(--brand-height);
	line-height: var(--brand-height);
	padding: 0 16px;
	font-weight: bold;
	border-radius: 3px;
	justify-self: flex-start;
}

.header-photo-holder {
	justify-self: flex-end;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 8px;
	align-items: center;
}

.header-username {
	font-size: .85rem;
	font-weight: 500;
}

.header-photo {
	background: var(--gallery);
	border: 1px solid var(--gallery);
	height: 30px;
	width: 30px;
	border-radius: 50%;
}